<!DOCTYPE html>
<html ng-app="draftPacketApp">
    <head>
        <title>ELTP Draft Packet</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="bower_components/flag-icon-css/css/flag-icon.min.css">
        <link rel="stylesheet" type="text/css" href="style.css">

        <script src="bower_components/angular/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body ng-controller="draftPacketController">
        <div class="container">
            <div class="row">
                <div class="col-md-6" id="packet-container">
                    <table class="table table-sm table-striped table-hover" id="packet">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Player name</th>
                                <th>Reddit name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in packet" ng-class="{'table-active': selection == $index}" ng-click="select($index)">
                                <td>
                                    <span ng-class="['flag-icon', 'flag-icon-' + row.country.code]"></span>
                                </td>
                                <td>{{ row.name }}</td>
                                <td><a ng-href="http://reddit.com/user/{{ row.reddit }}">{{ row.reddit }}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="selected-player-overview" ng-show="selection >= 0" class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">
                                {{ player.name }}
                                <a ng-click="select(-1)" class="btn close pull-right"><span>&times;</span></a>
                            </h4>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                {{ format_position(player.position) }}
                            </li>
                            <li class="list-group-item">
                                <span ng-class="['flag-icon', 'flag-icon-' + player.country.code]"></span>
                                {{ player.country.name }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
