<!DOCTYPE html>
<html ng-app="draftPacketApp">
    <head>
        <title>ELTP Draft Packet</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="style.css">

        <script src="bower_components/angular/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body ng-controller="draftPacketController">
        <div class="container">
            <div class="row">
                <div class="col-md-5" id="packet-container">
                    <table class="table table-sm table-striped table-bordered table-hover" id="packet">
                        <thead>
                            <tr>
                                <th>Player name</th>
                                <th>Reddit name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in packet" ng-class="{'table-active': selection == $index}" ng-click="select($index)">
                                <td>{{ row.name }}</td>
                                <td><a ng-href="http://reddit.com/user/{{ row.reddit }}">{{ row.reddit }}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="selected-player-overview" ng-show="selection >= 0" class="col-md-7">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">{{ packet[selection].name }}</h4>
                        </div>
                        <div class="card-block">
                            {{ packet[selection].country.name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
