<!DOCTYPE html>
<html ng-app="draftPacketApp">
    <head>
        <title>ELTP Draft Packet</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="bower_components/flag-icon-css/css/flag-icon.min.css">
        <link rel="stylesheet" type="text/css" href="style.css">

        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

        <script src="bower_components/angular/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body ng-controller="draftPacketController">
        <div class="container">
            <div class="row">
                <div class="col-md-6" id="packet-container">
                    <table class="table table-sm table-striped table-hover" id="packet">
                        <thead>
                            <tr>
                                <th class="td-narrow"></th>
                                <th class="td-narrow"></th>
                                <th>Player name</th>
                                <th>Rating</th>
                                <th>Position</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in packet" ng-class="{'table-active': selection == $index}" ng-click="select($index)">
                                <td class="td-narrow">
                                    <a title="TagPro profile" ng-href="http://tagpro-chord.koalabeast.com/profile/{{ row.profile}}"><span class="fas fa-flag"></span></a>
                                    <a title="Reddit profile" ng-href="http://reddit.com/user/{{ row.reddit }}"><span class="fab fa-reddit-alien"></span></a>
                                </td>
                                <td class="td-narrow">
                                    <span ng-class="['flag-icon', 'flag-icon-' + row.country.code]"></span>
                                </td>
                                <td>{{ row.name }}</td>
                                <td>
                                    <stars rating="$index / packet.length"></stars>
                                </td>
                                <td>
                                    {{ format_position(row.position) }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="selected-player-overview" ng-show="selection >= 0" class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">
                                {{ player.name }}
                                <a ng-click="select(-1)" class="btn close pull-right"><span>&times;</span></a>
                            </h4>
                            <h6 ng-if="player.old_name !== ''" class="card-subtitle text-muted">
                                formerly {{ player.old_name }}
                            </h6>
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active">Information</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">Weekly availability</a>
                                </li>
                            </ul>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                {{ format_position(player.position) }}
                            </li>
                            <li class="list-group-item">
                                <span ng-class="['flag-icon', 'flag-icon-' + player.country.code]"></span>
                                {{ player.country.name }}
                            </li>
                            <li class="list-group-item" ng-if="player.comment !== ''">
                                {{ player.comment }}
                            </li>
                        </ul>
                        <div class="card-block">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>Week</th>
                                        <th>S</th>
                                        <th>M</th>
                                        <th>T</th>
                                        <th>Week</th>
                                        <th>S</th>
                                        <th>M</th>
                                        <th>T</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="week in weekly_availability">
                                        <td>{{ weeknames[$index].first }}</td>
                                        <td><availability available="week.first[0]"></availability></td>
                                        <td><availability available="week.first[1]"></availability></td>
                                        <td><availability available="week.first[2]"></availability></td>
                                        <td>{{ weeknames[$index].second }}</td>
                                        <td><availability available="week.second[0]"></availability></td>
                                        <td><availability available="week.second[1]"></availability></td>
                                        <td><availability available="week.second[2]"></availability></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
