html, body, .container, .container > .row, #packet-container {
    height: 100%;
}

#packet-container {
    overflow: auto;
}

.td-narrow {
    width: 48px;
}

.unavailable {
    color: darkred;
}

#packet tr {
    cursor: pointer;
}

stars, stars > * {
    user-select: none;
}

body {
    background-color: #eee;
}

#packet-container {
    padding-right: 0;
}

#packet {
    background-color: white;
}

a[href]:not([role=tab]) {
    color: #c0392b;
}

thead {
    background-color: #c0392b;
    color: white;
}

thead tr th {
    border: none;
}

#selected-player-overview {
    margin-top: 2em;
}
